/* ==================================================
   Modal Style
================================================== */

.modal-header h3
{
    color: #000;
}


/* ==================================================
   Flash Message Style
================================================== */
#flash
{
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%
}

#flash p.content
{
    display: inline;
}

.alert
{
    margin-bottom: 0px !important;
}

/* ==================================================
   Form Style
================================================== */

#contact-form .submit,
#upload-form .submit
{
    border-style: none;
}
