/* ==================================================
   Modal Style
================================================== */

.class h3
{
    color: #000;
}


/* ==================================================
   Flash Message Style
================================================== */
#flash
{
    text-align: center;
}

#flash p.content
{
    display: inline;
}

.alert
{
    margin-bottom: 0px !important;
}
