{% extends 'base.html.twig' %}

{% set slider = true %}

{% block body %}
<div class="page" id="focus">
    <div class="container">
        {% set data = {
            'method'        : 'post',
            'action'        : 'addEvent',
            'actionText'    : 'Ajouter'
        } %}
        {% include 'admin/events/form.html.twig' with data %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var quill = new Quill('#description', {
            modules: {
                toolbar: '#toolbar'
            },
            theme: 'snow',
        });
    </script>{% endblock %}