{% extends 'base.html.twig' %}

{% set slider = true %}

{% block body %}
<div id="focus" class="page">
    <div class="container">
        <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Nous contacter</h2>
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <!-- Contact Form -->
        <div class="row">
            <div class="span12">
                <form id="contact-form" method="post" class="contact-form">
                    <p class="contact-name">
                        <input id="contact_name" type="text" placeholder="Nom entier" value="" name="name" required/>
                    </p>

                    <p class="contact-email">
                        <input type="contact_email" type="email" placeholder="Adresse email" value="" name="email" required/>
                    </p>

                    <p class="contact-message">
                        <textarea id="contact_message" placeholder="Votre message" name="message" rows="15" cols="40" required></textarea>
                    </p>

                    <p class="contact-submit">
                        <a id="contact-submit" class="submit" href="#">Envoyer le mail</a>
                    </p>

                    <div id="response">

                    </div>
                </form>
            </div>
        </div>
        <!-- End Contact Form -->
    </div>
</div>


{% endblock %}
